option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerIsShared: "true"
    LoadBalancerType: application
    ServiceRole: arn:aws:iam::303522029614:role/learning-and-share-test-eb-service-role
  aws:elasticbeanstalk:environment:process:LearningBEAppAppDevAlbProcess:
    DeregistrationDelay: "20"
    HealthCheckInterval: "30"
    HealthCheckPath: /api/health-check
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "5"
    Port: "80"
    Protocol: HTTP
    StickinessEnabled: "false"
    StickinessLBCookieDuration: "86400"
    StickinessType: lb_cookie
    UnhealthyThresholdCount: "2"
  aws:elbv2:loadbalancer:
    SecurityGroups: sg-033dff987741b20c9
    SharedLoadBalancer: arn:aws:elasticloadbalancing:ap-south-1:303522029614:loadbalancer/app/learn-and-share-test-lb-001/39b69b4033217790
  aws:elbv2:listener:443:
    Rules: LearningAppDevAlbRule001
  aws:elbv2:listenerrule:LearningAppDevAlbRule001:
    HostHeaders: test-api.learning.app
    PathPatterns: ''
    Priority: '1'
    Process: LearningBEAppAppDevAlbProcess